.menu {
    position: relative;
}
.scrollLeft,
.scrollRight {
    position: sticky;
    opacity: 0;
    background-color: #121320;
    box-shadow: #121320 0 0 10px;
    z-index: 1;
}
@media (max-width: 550px) {
    .menu::-webkit-scrollbar {
        display: none;
        position: relative;
    }
    .menu {
        overflow-x: scroll;
    }
    .scrollLeft,
    .scrollRight {
        opacity: 1;
        top: 0;
        transition: 0.3s ease-out;
    }
    .scrollLeft {
        left: 0;
    }
    .scrollRight {
        right: 0;
    }
    .scrollLeft_end,
    .scrollRight_end {
        position: sticky;
        opacity: 0;
    }
}