.box {
  position: relative;
  z-index: 99;
}
.wrapper {
  border-radius: 6px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
}
.wrapper:focus-visible {
  outline: none;
}
.wrapper.date .item {
  padding-right: 24px;
}
.wrapper.search .item {
  padding-right: 44px;
}
.wrapper.date .date_icon {
  position: absolute;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  bottom: 10px;
  cursor: pointer;
}
.wrapper.date .calendar {
  background-image: url("../../images/items/datepicker-icon.svg");
  right: 11px;
}
.clear {
  background-image: url("../../images/items/close-icon.png");
  right: 8px;
  height: 16px !important;
  bottom: 12px !important;
}
.wrapper.search::after {
  content: url("../../images/items/search-gray.svg");
  position: absolute;
  height: 23px;
  right: 14px;
  top: 11px;
}
.wrapper.search.focused::after {
  content: url("../../images/items/search-white.svg");
}
.wrapper.search.loading::after {
  content: "";
  height: 23px;
  width: 23px;
  background-size: contain;
  background-image: url("../../images/items/loading.gif");
}
.label {
  margin-bottom: 6px;
  display: block;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  line-height: 20px;
}
.item,
.disabled.wrapper input.item {
  position: relative;
  background: var(--background-input);
  border-radius: 2px;
  border: none;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 42px;
  color: var(--white-text-color);
  padding: 10px 5px 10px 18px;
  font-size: 16px;
  transition: 0.2s all ease-out;
  z-index: 99;
  box-sizing: border-box;
  clip-path: polygon(calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%, 0 0);
}
.wrapper .slice {
  position: absolute;
  width: 99%;
  height: 38px;
  top: 0;
  right: 0;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: var(--link-color);
  /* filter: var(--filter-shadow-focuse-visible); */
  overflow: hidden;
  border-radius: 2px;
  z-index: -1;
  box-sizing: border-box;
}
.item:focus-visible {
  border: 2px solid var(--link-color);
  filter: var(--filter-shadow-focuse-visible);
  border-radius: 2px;
  outline: none;
}
.item::before:focus-visible {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:focus-visible + .slice {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.wrapper .item:focus-visible + .slice {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.wrapper.search .item:focus {
  border-color: var(--link-color-2);
}
.wrapper.error {
  background-image: none;
  background-color: transparent;
}
.wrapper.error .item {
  border: var(--error-color) 2px solid;
  filter: var(--error-color);
  border-radius: 2px;
  outline: none;
}
.wrapper.error .slice {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  background: var(--error-color);
  filter: var(--error-color);
}
.wrapper input.item:-webkit-autofill,
.wrapper input.item:-webkit-autofill:hover,
.wrapper input.item:-webkit-autofill:focus,
.wrapper input.item:-webkit-autofill:active {
  background: var(--background-color-4) !important;
  transition: background-color 5000s;
  -webkit-text-fill-color: var(--white-text-color) !important;
}
.item.textarea {
  resize: none;
  min-height: 130px;
  margin-bottom: -4px;
}
.item.select_container {
  padding: 1px;
  border-radius: 12px;
  outline: none;
}
.item.select_container > *:last-child {
  background-color: var(--background-color-17);
  border-radius: 4px;
  color: var(--white-text-color);
  border: none;
  box-shadow: none;
  outline: none;
}
.item.select_container input {
  color: var(--white-text-color) !important;
  font-size: 14px !important;
}

.disabled.wrapper {
  /*background-color: var(--border-color-3);*/
}
.disabled.wrapper input.item {
  opacity: 0.95;
}
.icon {
  position: absolute;
  bottom: 10px;
  right: 14px;
  z-index: 99;
  color: rgb(255, 255, 255, 0.3);
}
.menu {
  z-index: 9999;
  max-height: 300px;
  height: 300px;
  overflow-y: auto;
}
.menu_list {
  /*max-height: 300px;*/
  /*overflow-y: auto;*/
  border-radius: 4px;
  padding: 6px 10px 6px 0;
  z-index: 9999999999;
  background-color: var(--black-color);
}
.select_placeholder {
  margin-left: 2px;
  grid-area: 1/1/2/3;
  margin-right: 2px;
  box-sizing: border-box;
}
.item.textarea::placeholder,
.select_placeholder,
.item::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--white-text-color);
  opacity: 0.3;
}
.wrapper.date .item::placeholder {
  font-style: normal;
  font-family: "Montserrat", sans-serif, Serif;
}
.dropdown_indicator {
  margin-right: 16px;
  transition: 0.2s ease opacity;
}
.dropdown_focused {
  opacity: 0.6;
}
.single_value {
  color: var(--white-text-color);
  grid-area: 1/1/2/3;
  margin-left: 2px;
  margin-right: 2px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
}
.option {
  background-color: var(--black-color);
  color: var(--white-text-color);
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s ease filter;
  z-index: 9899999;
}
.option:hover {
  filter: brightness(1.5);
}
.option:active {
  filter: brightness(0.8);
}
.dropdown {
  /*z-index: 999999999999999999999999;*/
  /*position: absolute;*/
}
.control {
  /*display: flex;*/
  /*position: relative;*/
  /*z-index: 0;*/
}

.eye_marker {
  pointer-events: unset;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.datepicker__container {
  top: 56px;
  box-shadow: none;
}

@media (max-width: 960px) {
  .item {
    padding: 13px 26px 10px 19px;
    font-size: 14px;
  }
}
