.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}
.snowflake,
.snowflake::after,
.snowflake::before {
  content: "";
  position: absolute;
  top: -650px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
                  radial-gradient(3px 4px at 100px 150px, #fff, transparent),
                  radial-gradient(6px 4px at 300px 250px, #fff, transparent),
                  radial-gradient(4px 4px at 400px 350px, #fff, transparent),
                  radial-gradient(3px 4px at 500px 100px, #fff, transparent),
                  radial-gradient(6px 4px at 50px 200px, #fff, transparent),
                  radial-gradient(4px 4px at 150px 300px, #fff, transparent),
                  radial-gradient(3px 4px at 250px 400px, #fff, transparent),
                  radial-gradient(6px 4px at 350px 500px, #fff, transparent);
  background-size: 650px 650px;
  animation: snowflakes 3s linear infinite;
}
.snowflake::after {
  margin-left: -250px;
  opacity: .5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}
.snowflake::before {
  margin-left: -350px;
  opacity: .7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 9s;
}
.snowflake1 {
  left: -600px;
}
.snowflake2 {
  left: 600px;
}
.snowflake3 {
  left: 1200px;
}
@keyframes snowflakes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(650px);
  }
}