.tooltip {
    transition:visibility 0.2s linear,opacity 0.2s linear;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color-1);
    background-color: var(--background-color-25);
    padding: 21px 28px 21px;
    border-radius: 5px;
    font-weight: 500;
    z-index: 999;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    position: absolute;
}
.tooltip.visible {
    opacity: 1;
    visibility: visible;
}
.tooltip.invisible {
    opacity: 0;
    visibility: hidden;
}